{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div class="clearfix"></div>
<div style="text-align: center;">
    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="hvr-sweep-to-right" style="float:none;"/>
</div>
{{ form_end(form) }}
