html { height: 100%; }
body { min-height: 100%; }

/* GENERIC CLASSES */
a {
    text-decoration: none;
    color: black;
}

.italic, em { font-style: italic; }
.uppercase { text-transform: uppercase; }
.regular, strong { font-weight: 500; }
.bold { font-weight: 700; }
.active, a:hover { border-bottom: 1px solid black !important; }
.clear { clear: both; }

.wrapper {
    max-width: 666px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    font-weight: 500;
}

h2 {
    font-size: 25px;

}
h3 {
    font-size: 18px;
    margin-top: 5px;
}

h4 {
    font-size: 22px;
    margin-bottom: 30px;
}

body {
    position: relative;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: white;
}

/* HEADER */
h1#logo {
    float: left;
    font-weight: 500;
    margin: 20px 0 0 5px;
}
nav {
    float: right;
    margin: 20px 5px 0 0;
}

@media all and (max-width: 666px) {

    h1#logo {
        float: none;
        margin: 25px auto;
    }

    nav {
        text-align: center;
        float: none;
        margin: 10px auto;
    }
}

nav ul li { display: inline-block; }
nav ul li:not(:first-child) { margin-left: 25px; }
nav ul li a {
    padding-bottom: 2px;
    border: none;
}

.picture {
    display: block;
    width: 150px;
    margin: 40px auto;
    padding-top: 40px;
}

@media all and (max-width: 666px) {
    .picture {
        padding-top: 0;
    }
}

.content {
    margin-top: 40px;
}