{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div id="contact">
        <div class="wrapper">
            <h3 class="bold">Contact</h3>
        </div>
    </div>
{% endblock %}
