<header>
    <img src="{% image 'images/circle_picture.png' %}{{ asset_url }}{% endimage %}" alt="Logo">
    <p>
        {{ content.name }} <br>
        {{ content.job_title }}, {{ content.city }}
    </p>
</header>