{% extends 'base.html.twig' %}

{% block title %}Page d'accueil {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'css/homepage.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div id="homepage" class="content">
        <h4 class="bold">À Propos</h4>

        <div class="custom-description">
            {{ getContent().description|raw_desc }}
        </div>
    </div>
{% endblock %}
