{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block content %}
    <div id="projects">
        <div class="wrapper">
            <h3 class="bold">Projets</h3>
            <ul>
                {% for project in projects %}
                    <li>{{ project.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
